.student-main-container {
    display: flex;
}

.student-left-main-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 80vh;
    flex-wrap: wrap;
}

.student-left-title {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.student-left-details {
    display: flex;
    justify-content: flex-start;
    height: 50%;
    flex-wrap: wrap;
    font-size: 10px;
}

.student-right-main-container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.student-right-project-container {
    width: 100%;
    height: 150px;
    font-size: 10px;
}