.personal-project-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 30px;
}
/* Navbar styles */
.navbar-container {
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #252525;
    height: 35px;
}

.navbar-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    padding: 5px;
    width: 50%;
}

.navbar-left span {
    font-size:12px;
    color: white;
}
.navbar-left a {
    text-decoration: none;
}

.navbar-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
}

.navbar-right a {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
}

.devmountain-logo {
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

.navbar-dropdown {
    height: 100px;
    width: 200px;
    background-color: black;
    position: absolute;
    right: 0;
    top: 35px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.navbar-dropdown-hidden {
    display: none;
}

.navbar-dropdown-show {
    display: flex;
}
.navbar-right-link {
    height: 100%;
    position: relative;
}

.navbar-dropdown-link {
    color: white;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: white .5px solid;
    border-left: white .5px solid;
    border-right: white .5px solid;
}

.navbar-dropdown-link:hover {
    cursor: pointer;
}

.hamburger-nav {
    display: none;
    color: white;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .navbar-right-link {
        display: none;
    }
    .hamburger-nav {
        display: block;
    }
}
/* .login {
    z-index: 10000;
} */

/* General */
.project-url-link:hover {
    cursor: pointer;
}