* {
    font-family: 'Nunito', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
    min-height: 100%;
    width: 100%;
    position: absolute;
}

.personal-project-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 30px;
}
/* Navbar styles */
.navbar-container {
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #252525;
    height: 80px;
}

.navbar-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    padding: 5px;
    width: 50%;
}

.navbar-left span {
    font-size:18px;
    color: white;
}
.navbar-left a {
    text-decoration: none;
}

.navbar-right {
    width: 50%;
}

.navbar-right-span {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}

.navbar-right-logout {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
}

.navbar-right-span a {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
}

.devmountain-logo {
    height: 50px;
    width: 50px;
    margin-right: 5px;
}

.navbar-dropdown {
    height: 100px;
    width: 200px;
    background-color: black;
    position: absolute;
    right: 0;
    top: 35px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.navbar-dropdown-hidden {
    display: none;
}

.navbar-dropdown-show {
    display: flex;
}
.navbar-right-link {
    position: relative;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-right-link a {
    font-size: 18px;
}
.navbar-dropdown-link {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: white .5px solid;
    border-left: white .5px solid;
    border-right: white .5px solid;
}

.navbar-dropdown-link a {
    color: white;
}
.navbar-dropdown-link:hover {
    cursor: pointer;
}

.hamburger-nav {
    display: none;
    color: white;
    margin-right: 10px;
}

/* Footer */
.footer-main-container {
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    color: white;
    border-top: .25px solid white;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* TODO: Come back and get rid of this */
    /* display: none; */
}

.footer-credit {
    margin: 0px 5px;
}

.footer-credit > a {
    font-family: 'Nunito', sans-serif;
    color: white;
}


@media (max-width: 768px) {
    .navbar-right-link {
        display: none;
    }
    .hamburger-nav {
        height: 100%;
        display: flex;
        align-items: center;
    }
}

/* General */
.project-url-link:hover {
    cursor: pointer;
}