a {
    text-decoration: none;
    color: black;
}
.cohort-details-main-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: space-between;
}
.cohort-details-title-div {
    width: auto;
    height: 10%;
    display: flex;
    justify-content: center;
}
.cohort-details-body-div {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.cohort-details-left-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cohort-details-right-container {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.cohort-details-filter-container {
    width: 10%;
    display: flex;
    flex-direction: column;
}

.cohort-details-project-main-container {
    display: flex;
    flex-direction: column;
}

.cohort-details-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
}

.cohort-details-project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}