.student-main-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 70px);
}

.student-info-main-container {
    height: 60%;
    background-color: #303030;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.student-position-container {
    height: 90%;
    display: flex;
}

.student-tiny-nav {
    height: 10%;
}

.student-info-picture-container {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.student-info-picture-container img {
    width: 460px;
    height: 460px;
}

.student-details-container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    position: relative;
}

.student-projects-display-container {
    height: 40%;
    display: flex;
    padding: 20px 15px;
    overflow-x: auto;
}

.student-project-container {
    height: 100%;
    width: 300px;
    margin: 0px 10px;
    padding: .5px;
    border: .5px solid black;
}

.student-project-container:hover {
    cursor: pointer;
}

.student-project-image {
    height: 100%;
    width: 100%;
}

.student-social-media-button-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
}

.student-social-media-button-container button:first-child {
    margin-left: 0px;
}

.student-text-container {
    display: flex;
    flex-direction: column;
}

.student-text-name {
    font-size: 26px;
    color: #25AAE1;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 20px;
}

.student-text {
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
    font-weight: 100;
    line-height: 25px;
}

.social-media-button {
    color: white;
    padding: 5px;
    font-size: 18px;
    margin: 0px 10px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    background-color: #25AAE1;
    border: none;
}

.social-media-button:hover {
    cursor: pointer;
}

.social-media-button:focus {
    outline: none;
}

.disabled-social {
    background-color: grey;
}

.disabled-social:hover {
    cursor: not-allowed;
}