.student-main-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 70px);
}

.student-info-main-container {
    height: 60%;
    background-color: #303030;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.student-position-container {
    height: 90%;
    display: flex;
}

.student-tiny-nav {
    height: 10%;
}

.student-info-picture-container {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.student-details-container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.student-projects-display-container {
    height: 40%;
    display: flex;
    padding: 20px 15px;
    overflow-x: auto;
}

.student-project-container {
    height: 100%;
    width: 300px;
    margin: 0px 10px;
}

.student-project-image {
    height: 100%;
    width: 100%;
}

.student-social-media-button-container {
    display: flex;
    flex-direction: row;
}

.student-text-container {
    display: flex;
    flex-direction: column;
}

.student-text-name {
    font-size: 20px;
    color: #25AAE1;
}

.student-text {
    font-size: 16px;
    color: white;
}

.social-media-button {
    color: black;
    padding: 5px;
    font-size: 18px;
    margin: 5px;
}

.social-media-button:hover {
    cursor: pointer;
}

.no-margin {
    margin-left: 0px;
}
/* .student-left-main-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 80vh;
    flex-wrap: wrap;
}

.student-left-title {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.student-left-details {
    display: flex;
    justify-content: flex-start;
    height: 50%;
    flex-wrap: wrap;
    font-size: 10px;
}

.student-right-main-container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.student-right-project-container {
    width: 100%;
    height: 150px;
    font-size: 10px;
} */