.ch-main-container {
    display: flex;
    flex-direction: column;
    background-color: #656464;
    min-height: calc(100vh - 70px);
}

.ch-header {
    padding: 10px;
    background-color: #303030;
    color: white;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: .25px solid white;
}

.ch-header-filter-container {
    display: flex;
    justify-content: center;
}

.ch-active {
    color: #25AAE1;
}

.ch-nav:hover {
    cursor: pointer;
}

.ch-group-container {
    height: 200px;
    border-top: .25px solid white;
    border-bottom: .25px solid white;
}

.ch-student-container {
    height: 200px;
    border-top: .25px solid white;
    border-bottom: .25px solid white;

}