.ch-main-container {
    display: flex;
    flex-direction: column;
}

.ch-header {
    padding: 10px;
    background-color: #303030;
    color: white;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ch-header-filter-container {
    display: flex;
    justify-content: center;
}

.ch-active {
    color: #25AAE1;
}

.ch-nav:hover {
    cursor: pointer;
}